<!doctype HTML>
<style>
#para1 {
  text-align: center;
  color: green;
}
</style>
<title>
Bir blogger hakkinda
</title>
<body style="text-align:center; background-color: red;">
<h1>Valla ne diyelim...Gec oldu ama neden boyle oldu??!?</h1>
<p id="para1"> Simdi bir blogger genel olarak hikayeler anilar vs olarak gitse de bizim yas ve durumdan dolayi biraz farkli gelisecek yazilar.<br>
  Malum yas 40 a dayandi. Tabi hakli olarak 'Dayi bu yastan sonra ne yaziyon, git isine gucune bak' diyen bircok arkadas olacaktir. <br>
  Ama alternatif bir kisiligin ne demek oldugunu bilen insanlar zaten bu yazari sorgulamanin cok anlamsiz birsey olacaginin farkindalar.<br>
  Ben de onlara yaziyorum zaten.</p>
  <p> Bu kismin style tarafindan etkilenmemesi lazim</p>
</body>
</html>
<%= link_to "Home", root_path %>
<%= link_to "Contact", contact_path %>
<%= link_to image_tag('deneme.jpg'), 'www.mashrurhossain.com' %>
