<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="mystyle.css">
<style>
  body {
    background-color: linen;
  }
.center {
  text-align: center;
  /* To create comment is just easy as this */
  color: red;
}
p.small {
  font-size: 100%;
}
p.medium {
  font-size: 200%;
}
p.large {
  font-size: 300%;
}
</style>
</head>
<body>

<h1 style= "background-color: lightgrey"; class="center small">You can contact us from...</h1>
<p class="center medium">Address:Karsli Mah. Adnan menderes blv</p>
<p class="center medium">Tel: 053325255145</p>
<p class="center medium">e-mail: casaatci123@shitmail.com</p>

</body>
</html>

<p class="center"> <%= link_to "About", about_path %> <--|-->
<%= link_to "Home", root_path %></p>
