<!doctype HTML>
<title style="text-align:center;">>What a title it was</title>
<body style="background-color: red">
<h1> Welcome to the Beta-Blog Home Page (Beta Blog Ana Sayfasina Hosgeldiniz!!)</h1>
<p>Benden tam olarak bu kadar, daha fazla ne anlatacağımı bilmiyorum. Merak ettiğiniz herhangi bir şey olursa, sadece bana bir “Merhaba!” demek isterseniz ya da sohbet etmek isterseniz bir yandaki “İletişim” sayfasından bana ulaşabilirsiniz. Görüşürüz konserveler!</br>
</body>
<%= link_to "About", about_path %>
<%= link_to image_tag('deneme.jpg'), 'www.mashrurhossain.com' %>
